apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels:
    app: goserver # Label do ReplicaSet
spec:
  selector:
    matchLabels:
      app: goserver # Critério de seleção dos Pods
  replicas: 1
  template:
    metadata:
      labels:
        app: "goserver" # Label dos Pods
    spec:
      containers:
        - name: "goserver"
          image: "luizgustavoou/hello-go:v4"
          envFrom:
            - configMapRef:
                name: goserver-env

          # env:
          #   - name: NAME
          #     valueFrom:
          #       configMapKeyRef:
          #         name: goserver-env
          #         key: NAME
          #   - name: AGE
          #     valueFrom:
          #       configMapKeyRef:
          #         name: goserver-env
          #         key: AGE