apiVersion: v1
kind: Pod
metadata:
  name: kuar-pod
  labels:
    app: kuar
spec:
  containers:
    - name: kuar-container
      image: luizgustavoou/kuard:latest
      livenessProbe:
        httpGet:
          path: /healthy
          port: 8080
        initialDelaySeconds: 5
        timeoutSeconds: 1
        periodSeconds: 10
        failureThreshold: 3
      resources:
        requests:
          cpu: 500m
          memory: 128Mi
        limits:
          cpu: 1000m
          memory: 256Mi
      ports:
        - containerPort: 8080
          name: http
          protocol: TCP